<div class="row justify-content-center">
  <div class="about col-8">
    <h3>Tentang kami</h3>
    <p>
      Selamat datang di Little-f, kami menyediakan berbagai macam barang yang bisa kamu beli langsung dengan metode pembayaran transfer melalui <a href="#footer">bank-bank berikut</a> atau kamu juga bisa membeli barang-barang kami lewat marketplace seperti Shopee dan Tokopedia (kami sangat menyarankan pembelian dilakukan melalui marketplace), barang kami kirim dari Jatinangor kabupaten Sumedang dengan menggunakan <a href="#footer">kurir berikut</a>. <br><br>
      Kamu juga bisa menanyakan perihal barang tertentu melalui WhatsApp dengan mengklik tombol chat pada detail produk atau kamu juga bisa langsung chat kami jika mengalami kesulitan atau ada hal-hal lain yang ingin ditanyakan melalui WhatsApp dengan langsung mengetikan pesannya pada <a href="#contact">kolom ini</a>.
    </p>
  </div>
</div>